:root{
  --body_background: white;
  --body_color: black;
  --link-color:#686868;
  --container-color:rgba(204, 204, 204, 0.2);
  --text-color:black;
  --text2-color:rgb(255, 255, 255);
  --btn-color: #333333;
  --svg-color:black;
}

[data-theme="dark"]{
  --body_background: #282c34;
  --body_color: white;
  --link-color:cyan;
  --container-color:rgba(16, 30, 45, 0.2);
  --text-color:white;
  --text2-color:rgb(0, 0, 0);
  --btn-color: #61dafb;
  --svg-color:white;
}

*{
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
